.wrapper-course {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;

  .btn-add-chapter {
    margin-top: 20px;
  }
  .btn-step {
    margin-top: 20px;
  }
}
.custom-modal {
  top: -292px !important;
  width: 580px !important;
}
