.coures-wrapp {
  padding: 20px 0px;
  .title {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-coures {
    margin-left: auto;
    margin-right: auto;
    width: 1136px;
    .number-members,
    .coures-title-item {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .number-members {
      margin-top: 20px;
    }
  }
}
